.details-btn {
  border-radius: 20px;
  padding: 5px;
  box-shadow: 4px 3px #d69e9e;
  border: none;
}

.details-btn:hover {
  box-shadow: none;
  font-size: large;
  font-weight: bold;
}

.numberProduct {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.container-description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-weight: bold;
}

.productDescription {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  position: relative;
  border-radius: 50px;
  padding: 100px;
}
