.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #b2b1b1 solid 2px;
  background-color: rgb(255, 255, 255);
  margin: 5px;
  border-radius: 50px;
  justify-content: center;
  padding: 20px;
  font-weight: bold;
}

.product:hover {
  background-color: rgb(219, 190, 190);
}
