.numberProduct {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.productDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #ccc8c8 solid 2px;
  background-color: white;
  margin: 5px;
  border-radius: 50px;
  justify-content: flex-end;
  padding: 20px;
  font-weight: bold;
}

.details-btn {
  border-radius: 20px;
  padding: 5px;
  box-shadow: 4px 3px #d69e9e;
  border: none;
}

.details-btn:hover {
  box-shadow: none;
  font-size: large;
  font-weight: bold;
}
