@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.container1 {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 235px !important;
}
