.register-background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-weight: bold;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background: #fff;
  position: relative;
  border-radius: 50px;
  padding: 100px;
}

.mini-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.btn-register {
  border: 1px solid rgb(214, 213, 213);
  border-radius: 10px;
  padding: 10px 25px;
}

.registerBtn {
  padding: 10px;
  border: solid 1px rgb(132, 167, 168);
  background: fixed rgb(117, 184, 186);
  font-size: medium;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.registerBtn:hover {
  font-weight: bold;
  background: yellowgreen;
  border-radius: none;
}
