.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.page-btn {
  margin: 5px;
  font-weight: bold;
  border: none;
  font-size: x-large;
  background-color: white;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.page-btn:hover {
  background-color: tomato;
  opacity: 0.5;
}
